nav {
  @media (max-width: 980px) {
    display: none;
    position: absolute;
    background-color: rgba($color: #fff, $alpha: 0.8);
    top: 0;
    margin: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    justify-items: center;
    align-items: center;
    text-align: center;
    ul {
      li {
        margin: 0;
        display: block;
        margin-bottom: 1.5rem;
        font-size: 1.3rem;
        width: 100vw;
      }
    }
  }
}
.svg-hover {
  fill: #fff;
  transition: fill 0.3s ease;
  &:hover {
    fill: $color-primary;
  }
}
.lan-hover {
  color: white;
  svg {
    fill: white;
  }
  &:hover {
    color: $color-primary;
    svg {
      fill: $color-primary;
    }
  }
}
.nav-primary {
  &:hover {
    color: $color-primary;
  }
}
.active {
  color: $color-primary;
}
.logo {
  @media (max-width: 980px) {
    width: 33vw;
    max-width: 150px;
  }
}
