#nav-menu {
  cursor: pointer;
  display: none;
  width: 30px;
  z-index: 3000;
  @media (max-width: 980px) {
    display: block;
  }
}
#nav-menu > span {
  background-color: $color-secondary;
  border-radius: 9999px;
  display: block;
  height: 2px;
  width: 30px;
}
#nav-menu > span:not(:last-child) {
  margin-bottom: 8px;
}
#nav-menu,
#nav-menu > span {
  transition: all 0.4s ease;
}
#nav-menu.active {
  transform: rotate(45deg);
  transition-delay: 0.8s;
}
#nav-menu.active > span:nth-child(2) {
  width: 0;
}
#nav-menu.active > span:nth-child(1),
#nav-menu.active > span:nth-child(3) {
  background-color: $color-secondary;
  transition-delay: 0.4s;
}
#nav-menu.active > span:nth-child(1) {
  transform: translateY(9px);
}
#nav-menu.active > span:nth-child(3) {
  background-color: $color-secondary;
  transform: translateY(-9px) rotate(90deg);
}
