.indicators {
  bottom: 2rem;
  position: absolute;
  width: 100%;
  z-index: 20;
  li {
    margin: 0 0.5rem !important;
  }
}
.default-nav {
  background-color: transparent !important;
  margin: 0 2rem;
}
.fade-in {
  animation: fadeIn 0.5s ease forwards;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fade-in-nav {
  display: flex;
  animation: fadeIn 1s ease forwards;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.video-player {
  aspect-ratio: 16/9;
  object-fit: cover;
  width: 100%;
  height: 56vw !important;
}
.top-bar {
  font-size: 0.8rem;
}
.indicators,
.default-nav {
  @media (max-width: 980px) {
    display: none !important;
  }
}
