$font-main: "BentonSans";
$font-bold: "BentonSans Bold";
$font-medium: "BentonSans Medium";
$font-italic: "PP Editorial Old";
$font-extra: "Bebas Neue";

$text-color-primary: #1d1d1b;
$color-primary: #ffcd02;
$color-secondary: #1d1d1b;
